* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #3c5077;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    position: relative;
    font-family: "Poppins", sans-serif;
}
#submit {
    background-color: #fff;
    border: none;
    width: 150px;
    border-radius: 30px;
    outline: none;
    padding: 10px 60px;
    cursor: pointer;
    font-weight: 500;
    font-size: 22px;
    display: flex;
    justify-content: center;
}

#pop {
    width: 90%;
    max-width: 400px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    position: absolute;
    top: -100%;
    text-align: center;
    padding-top: 50px;
    transition: 0.2s all ease;
}

#ok {
    width: 90%;
    color: #fff;
    background-color: #3fd649;
    border: none;
    border-radius: 5px;
    height: 30px;
    cursor: pointer;
}
#pop h2 {
    margin-bottom: 10px;
}
#pop p {
    margin-bottom: 35px;
}

img#done {
    width: 50px;
    height: 50px;
    position: absolute;
    left: 45%;
    top: -20px;
}
