body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.password-container {
  border-radius: 20px;
  padding: 1em;
  box-shadow:  0 5px 30px rgba(0, 0, 0, .1);
  position: relative;
  min-width: 300px;
}

.password-container input {
  width: 80%;
  padding: 20px;
  padding-right: 40px; /* space for eye */
  outline: none;
  border-radius: 8px;
  border: 1px solid #eee;
  font-size: 20px;
}

.password-container i {
  position: absolute;
  right: 35px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
  color: #555;
}
